{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google" content="notranslate">

  <link rel="stylesheet" href="{% static '/in_django/css/global.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
  <script src="{% static 'main/main.js' %}"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <title>Your List</title>
</head>

<body class="light" id="body">
  <div class="space"></div>

  <div class="list-container">
    <nav>
      <span class="nav-left-column">
        <i class="nav-icon material-symbols-outlined" id="theme-toggler-icon" title="Dark mode"
          onclick="toggleTheme()">dark_mode</i>
      </span>
      <span class="nav-right-column">
        <i class="nav-icon material-symbols-outlined" title="Add folder">create_new_folder</i>
        <i class="nav-icon material-symbols-outlined" title="Add Task">post_add</i>
        <i class="nav-icon material-symbols-outlined" title="Log in">login</i>
      </span>
    </nav>
    <section>
      <div class="folder item">
        <div class="folder-container">
          <span class="featured-icon-container">
            <i class="list-icon material-symbols-outlined folder">folder</i>
            <p>Lunes</p>
          </span>
          <span class="actions-container">
            <i class="list-icon material-symbols-outlined" title="Add Task">post_add</i>
            <i class="list-icon material-symbols-outlined" title="Edit Task">edit</i>
            <i class="list-icon material-symbols-outlined" title="Delete Task">delete</i>
          </span>
        </div>
        <div class="folder-tasks-container display-none">
          <div class="task in-folder-task">
            <span class="featured-icon-container">
              <i class="list-icon material-symbols-outlined file">description</i>
              <p>Que Pili me haga Mate</p>
            </span>
            <span class="actions-container">
              <i class="checkbox-blank list-icon material-symbols-outlined"
                title="Mark Done">check_box_outline_blank</i>
              <i class="list-icon material-symbols-outlined" title="Edit Task">edit</i>
              <i class="list-icon material-symbols-outlined" title="Delete Task">delete</i>
            </span>
          </div>
          <div class="task in-folder-task">
            <span class="featured-icon-container">
              <i class="list-icon material-symbols-outlined file">description</i>
              <p>Pasear al perro</p>
            </span>
            <span class="actions-container">
              <i class="checkbox-blank list-icon material-symbols-outlined"
                title="Mark Done">check_box_outline_blank</i>
              <i class="list-icon material-symbols-outlined" title="Edit Task">edit</i>
              <i class="list-icon material-symbols-outlined" title="Delete Task">delete</i>
            </span>
          </div>
        </div>
      </div>
      <div class="task item">
        <span class="featured-icon-container">
          <i class="list-icon material-symbols-outlined file">description</i>
          <p>Lavar la ropa</p>
        </span>
        <span class="actions-container">
          <i class="checkbox-blank list-icon material-symbols-outlined" title="Mark Done">check_box_outline_blank</i>
          <i class="list-icon material-symbols-outlined" title="Edit Task">edit</i>
          <i class="list-icon material-symbols-outlined" title="Delete Task">delete</i>
        </span>
      </div>
      <div class="task item">
        <span class="featured-icon-container">
          <i class="list-icon material-symbols-outlined file">description</i>
          <p>Pasear al perro</p>
        </span>
        <span class="actions-container">
          <i class="checkbox-blank list-icon material-symbols-outlined" title="Mark Done">check_box_outline_blank</i>
          <i class="list-icon material-symbols-outlined" title="Edit Task">edit</i>
          <i class="list-icon material-symbols-outlined" title="Delete Task">delete</i>
        </span>
      </div>
    </section>
  </div>
</body>