{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.5/dist/cdn/material-dynamic-colors.min.js"></script>
    
    <script>
      function toggleTheme() {
        let currentTheme = document.getElementById('body').classList[0];
        if (currentTheme == "light") {
          document.getElementById('body').classList.remove('light');
          document.getElementById('body').classList.add('dark');
        } else {
          document.getElementById('body').classList.remove('dark');
          document.getElementById('body').classList.add('light');
        }
      }
    </script>
    
    <title>Todo List</title>
</head>
<body class="light"  id="body">
    <nav class="left m l">
        <img src="https://www.beercss.com/favicon.png" class="circle margin">
        <button onclick="toggleTheme()">Theme</button>
        <a>
          <i>search</i>
          <i>home</i>
          <div>Home</div>
        </a>
        <a>
          <i>search</i>
          <div>Search</div>
        </a>
        <a>
          <i>share</i>
          <div>Share</div>
        </a>
        <a>
          <i>more_vert</i>
          <div>More</div>
        </a>
      </nav>
      
      <nav class="bottom s">
        <a>
          <i>home</i>
        </a>
        <a>
          <i>search</i>
        </a>
        <a>
          <i>share</i>
        </a>
        <a>
          <i>more_vert</i>
        </a>
      </nav>
      
      <main class="responsive">
        <img src="https://www.beercss.com/beer-and-woman.jpg" class="responsive round">
        <h3>Welcome</h3>
        <h5>The beer is ready!</h5>
      </main>
</body>
</html>