{% extends "todo_list/index.html" %}

{% block content %}
<section class="login-section">
    <div class="login-inner">
        <div class="login-nav">
            <span class="nav-left-column pl-4">
                Please login
            </span>
            <span class="nav-right-column">
                <a href="/">
                    <i class="nav-icon material-symbols-outlined" title="Close" id="login-close">
                        close
                    </i>
                </a>
            </span>
        </div>

        <div class="login-form-container w-full">
            <form action="POST" class="flex flex-column items-center w-full my-4">
                {% csrf_token %}
                <span class="flex justify-between w-half py-1">
                    <label class="items-center flex" for="name">Username:</label>
                    <input class="h-5 items-center pl-4" type="text" name="name" placeholder="Username" id="">
                </span>
                <span class="flex justify-between w-half py-1">
                    <label class="items-center flex" for="password">Password:</label>
                    <input class="h-5 items-center pl-4" type="password" name="password" placeholder="Password"
                        id="password">
                </span>
                <span class="flex justify-between w-half py-1">
                    <span class="flex">
                        <label class=" items-center flex" for="remember-me">Remember me</label>
                        <input class="checkbox ml-4" type="checkbox" name="remember-me">
                    </span>
                    <i class="nav-icon material-symbols-outlined visibility" title="Show password">
                        visibility
                    </i>
                    <i class="nav-icon material-symbols-outlined display-none visibility" title="Show password">
                        visibility_off
                    </i>
                </span>
            </form>
        </div>

    </div>
</section>
{%endblock%}